.page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.page .page-left {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px 24px;
  border-right: 1px solid var(--dark-1);
}

.page .page-main {
  display: flex;
  flex-direction: column;
  padding: 24px 36px;
  width: calc(100% - 300px);
}